@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 700px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}
audio#musica{
    display: block;
    position: relative;
    top: 495px;
    left: 585px;
    widows: 200px; ;
}
video#filme{
    display: block;
    position: relative;
    top: 70px;
    left: 80px;
    width: 450px;
    
}
